<svg xmlns="http://www.w3.org/2000/svg" width="1949.56" height="1801.15" viewBox="0 0 1949.56 1801.15">
  <defs>
    <style>
      .tile {
        fill: #fff;
        stroke: #000;
        stroke-miterlimit: 10;
      }
    </style>
  </defs>
  <title>catan-board</title>
  <polygon id="tile-0" class="tile" points="585.07 0.58 779.92 113.08 779.92 338.08 585.07 450.58 390.21 338.08 390.21 113.08 585.07 0.58"/>
  <polygon id="tile-1" class="tile" points="974.78 0.58 1169.63 113.08 1169.63 338.08 974.78 450.58 779.92 338.08 779.92 113.08 974.78 0.58"/>
  <polygon id="tile-2" class="tile" points="1364.49 0.58 1559.35 113.08 1559.35 338.08 1364.49 450.58 1169.63 338.08 1169.63 113.08 1364.49 0.58"/>
  <polygon id="tile-3" class="tile" points="1559.35 338.08 1754.2 450.58 1754.2 675.58 1559.35 788.08 1364.49 675.58 1364.49 450.58 1559.35 338.08"/>
  <polygon id="tile-4" class="tile" points="1754.2 675.58 1949.06 788.08 1949.06 1013.08 1754.2 1125.58 1559.35 1013.08 1559.35 788.08 1754.2 675.58"/>
  <polygon id="tile-5" class="tile" points="390.21 338.08 585.07 450.58 585.07 675.58 390.21 788.08 195.36 675.58 195.36 450.58 390.21 338.08"/>
  <polygon id="tile-6" class="tile" points="779.92 338.08 974.78 450.58 974.78 675.58 779.92 788.08 585.07 675.58 585.07 450.58 779.92 338.08"/>
  <polygon id="tile-7" class="tile" points="1169.63 338.08 1364.49 450.58 1364.49 675.58 1169.63 788.08 974.78 675.58 974.78 450.58 1169.63 338.08"/>
  <polygon id="tile-8" class="tile" points="1364.49 675.58 1559.35 788.08 1559.35 1013.08 1364.49 1125.58 1169.63 1013.08 1169.63 788.08 1364.49 675.58"/>
  <polygon id="tile-9" class="tile" points="195.36 675.58 390.21 788.08 390.21 1013.08 195.36 1125.58 0.5 1013.08 0.5 788.08 195.36 675.58"/>
  <polygon id="tile-10" class="tile" points="585.07 675.58 779.92 788.08 779.92 1013.08 585.07 1125.58 390.21 1013.08 390.21 788.08 585.07 675.58"/>
  <polygon id="tile-11" class="tile" points="974.78 675.58 1169.63 788.08 1169.63 1013.08 974.78 1125.58 779.92 1013.08 779.92 788.08 974.78 675.58"/>
  <polygon id="tile-12" class="tile" points="1364.49 1800.58 1169.63 1688.08 1169.63 1463.08 1364.49 1350.58 1559.35 1463.08 1559.35 1688.08 1364.49 1800.58"/>
  <polygon id="tile-13" class="tile" points="974.78 1800.58 779.92 1688.08 779.92 1463.08 974.78 1350.58 1169.63 1463.08 1169.63 1688.08 974.78 1800.58"/>
  <polygon id="tile-14" class="tile" points="585.07 1800.58 390.21 1688.08 390.21 1463.08 585.07 1350.58 779.92 1463.08 779.92 1688.08 585.07 1800.58"/>
  <polygon id="tile-15" class="tile" points="390.21 1463.08 195.36 1350.58 195.36 1125.58 390.21 1013.08 585.07 1125.58 585.07 1350.58 390.21 1463.08"/>
  <polygon id="tile-16" class="tile" points="1559.35 1463.08 1364.49 1350.58 1364.49 1125.58 1559.35 1013.08 1754.2 1125.58 1754.2 1350.58 1559.35 1463.08"/>
  <polygon id="tile-16" class="tile" points="1169.63 1463.08 974.78 1350.58 974.78 1125.58 1169.63 1013.08 1364.49 1125.58 1364.49 1350.58 1169.63 1463.08"/>
  <polygon id="tile-17" class="tile" points="779.92 1463.08 585.07 1350.58 585.07 1125.58 779.92 1013.08 974.78 1125.58 974.78 1350.58 779.92 1463.08"/>
</svg>
