.tile
  fill: #fff
  stroke: #000
  stroke-width: 3
  &:before
    content: attr(data-value)
    position: absolute
    top: 50%
    left: 50%
    width: 100px
    height: 100px
    border-radius: 50%
    transform: translate(-50%, -50%)

.tile--wood
  fill: ForestGreen

.tile--sheep
  fill: LimeGreen

.tile--wheat
  fill: gold

.tile--brick
  fill: FireBrick

.tile--ore
  fill: SlateGray

.tile--desert
  fill: khaki

.circle
  fill: #fff
  stroke: #000
  stroke-width: 3

.number
  font-size: 48px
  font-family: helvetica
  text-align: center
